/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* *** VARIABLES *** */
/* COLORS */
/* FONTS */
/* BORDERS */
/* MAIN */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Lato", serif;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    html,
    body {
      font-size: 1.2rem; } }

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", serif;
  text-align: center; }

section {
  padding: 120px 25px 20px;
  font-size: 1.35rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  section .icon {
    position: absolute;
    top: -3rem;
    padding: 0 1rem;
    width: 130px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media screen and (min-width: 768px) {
      section .icon {
        width: 120px;
        top: -2rem; } }
  section h1 {
    font-size: 1.8rem; }
  section h2 {
    font-size: 1.6rem; }
  @media screen and (min-width: 1200px) {
    section {
      min-height: 100vh; } }

/* HEADER */
.header {
  background: 18% 40%/cover url("../../img/map.svg") no-repeat, #f4f4f9;
  width: 100%;
  height: 100vh;
  position: relative; }
  .header__introduction {
    color: #455848;
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    right: 1.9rem;
    top: 5rem;
    line-height: 3rem;
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border: 2px solid #455848;
    border-radius: 0.3rem; }
    .header__introduction a {
      background: #455848;
      color: #f4f4f9;
      padding: 0.5rem;
      border: 2px solid #f4f4f9; }
    .header__introduction p {
      margin-top: 1rem; }
      .header__introduction p .truck {
        width: 100px; }
        @media screen and (min-width: 900px) {
          .header__introduction p .truck {
            width: 200px;
            margin-bottom: 1rem; } }
        @media screen and (min-width: 1600px) {
          .header__introduction p .truck {
            width: 300px;
            margin: 2rem; } }
    @media screen and (min-width: 750px) {
      .header__introduction {
        text-align: center;
        right: 8rem;
        top: 7rem; } }
    @media screen and (min-width: 1200px) {
      .header__introduction {
        font-size: 2rem;
        padding: 2rem; } }
    @media screen and (min-width: 1600px) {
      .header__introduction {
        font-size: 3rem; } }

.navigation {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  background: #4a9328; }
  .navigation__toggler {
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    font-size: 1.7rem;
    color: #f4f4f9; }
    @media screen and (min-width: 600px) {
      .navigation__toggler {
        display: none; } }
  .navigation__logo {
    font-size: 1.8rem;
    color: #f4f4f9; }
  .navigation__ul {
    text-align: center;
    list-style-type: none;
    display: none; }
    .navigation__ul .navigation__item {
      padding: 1.4rem 1.5rem; }
      @media screen and (min-width: 600px) {
        .navigation__ul .navigation__item {
          display: inline-block;
          padding: 0 .7rem; } }
      @media screen and (min-width: 750px) {
        .navigation__ul .navigation__item {
          padding: 0 1rem; } }
      @media screen and (min-width: 750px) {
        .navigation__ul .navigation__item {
          padding: 0 1.2rem; } }
      .navigation__ul .navigation__item .navigation__link {
        color: #f4f4f9;
        font-size: 1.4rem;
        text-transform: uppercase; }
        @media screen and (min-width: 600px) {
          .navigation__ul .navigation__item .navigation__link {
            font-size: 1.2rem; } }
    @media screen and (min-width: 600px) {
      .navigation__ul {
        display: block !important; } }
  @media screen and (min-width: 600px) {
    .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.shown {
  display: block; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f4f4f9;
  color: #455848;
  font-size: 2.5rem; }
  .contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #455848;
    padding: 2rem 1rem; }
    .contact a i {
      font-size: 3rem;
      padding: 0.5rem 0.5rem 0.8rem;
      color: #4a9328; }

/* *** ABOUT SECTION *** */
.about {
  background: #4a9328;
  color: #f4f4f9; }
  .about__textbox {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 3px solid #f4f4f9;
    outline-offset: -.5rem;
    padding: 6rem 2rem 2rem 3rem; }
    .about__textbox__introduction-header {
      font-size: 2rem; }
    .about__textbox__icon {
      position: absolute;
      top: -1.4rem;
      background: #4a9328; }
      @media screen and (min-width: 1024px) {
        .about__textbox__icon {
          font-size: 2.5rem;
          top: -2.2rem;
          left: 4rem; } }
    @media screen and (min-width: 768px) {
      .about__textbox {
        padding: 6rem 3rem 2rem; } }
    @media screen and (min-width: 1024px) {
      .about__textbox {
        padding: 6rem 4rem; }
        .about__textbox p {
          font-size: 1.5rem;
          width: 80%;
          margin-bottom: 2rem; } }
  .about__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about__articles article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: left; }
    @media screen and (min-width: 1024px) {
      .about__articles {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .about__articles article {
          width: 45%; } }

/* *** OFFER SECTION *** */
.offer {
  background: #f4f4f9;
  color: #455848; }
  .offer__textbox {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 3rem; }
    .offer__textbox__icon {
      background: #f4f4f9; }
    .offer__textbox__header {
      font-size: 2.3rem; }
    .offer__textbox__articles {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .offer__textbox__articles article {
        text-align: left; }
        .offer__textbox__articles article p {
          margin: 2rem 0; }
        .offer__textbox__articles article ul {
          width: 80%;
          margin: 0 auto; }
          .offer__textbox__articles article ul li {
            margin-bottom: .3rem; }
      @media screen and (min-width: 1024px) {
        .offer__textbox__articles {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .offer__textbox__articles article {
            width: 45%; } }
    @media screen and (min-width: 1024px) {
      .offer__textbox {
        position: relative;
        text-align: center;
        outline: 3px solid #455848;
        outline-offset: -.5rem;
        padding: 6rem 4rem; } }

/* *** PRICES SECTION *** */
.prices {
  background: #4a9328;
  color: #f4f4f9;
  text-align: center; }
  .prices__textbox {
    position: relative;
    padding-top: 5rem; }
    .prices__textbox__icon {
      position: absolute;
      top: -2rem;
      background: #4a9328; }
    .prices__textbox__header {
      font-size: 2.3rem; }
    .prices__textbox__forms__trans {
      margin: 2rem 0; }
      .prices__textbox__forms__trans h2 {
        margin-bottom: 1rem; }
      @media screen and (min-width: 1024px) {
        .prices__textbox__forms__trans {
          width: 45%; } }
    .prices__textbox__forms__przep {
      margin: 2rem 0; }
      .prices__textbox__forms__przep h2 {
        margin-bottom: 1rem; }
      @media screen and (min-width: 1024px) {
        .prices__textbox__forms__przep {
          width: 50%; } }
    .prices__textbox__forms .cennik-przep,
    .prices__textbox__forms .cennik-trans {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      outline: 2px solid #f4f4f9;
      outline-offset: -.5rem;
      margin: 2rem 0 0;
      padding: 2rem 1rem; }
      .prices__textbox__forms .cennik-przep button[type='submit'],
      .prices__textbox__forms .cennik-trans button[type='submit'] {
        border: none;
        padding: 0.5rem 1.2rem;
        color: #455848;
        background: #f4f4f9;
        font-weight: 700; }
      .prices__textbox__forms .cennik-przep label,
      .prices__textbox__forms .cennik-trans label {
        display: block; }
      .prices__textbox__forms .cennik-przep input,
      .prices__textbox__forms .cennik-przep select,
      .prices__textbox__forms .cennik-trans input,
      .prices__textbox__forms .cennik-trans select {
        margin: 2rem 0;
        color: #455848;
        border: none;
        font-weight: 700;
        width: 250px;
        background: #f4f4f9;
        padding: .5rem; }
      .prices__textbox__forms .cennik-przep .cena-przep,
      .prices__textbox__forms .cennik-przep .cena-trans,
      .prices__textbox__forms .cennik-trans .cena-przep,
      .prices__textbox__forms .cennik-trans .cena-trans {
        display: none;
        background: #f4f4f9;
        color: #455848;
        font-size: 1.85rem;
        width: 200px;
        text-align: center;
        margin-top: 1rem;
        padding: .5rem 1rem; }
      @media screen and (min-width: 1024px) {
        .prices__textbox__forms .cennik-przep,
        .prices__textbox__forms .cennik-trans {
          margin-top: 3.5rem; } }
    @media screen and (min-width: 1024px) {
      .prices__textbox__forms {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .prices__textbox__forms p {
          height: 70px; } }
    @media screen and (min-width: 1024px) {
      .prices__textbox {
        outline: 3px solid #f4f4f9;
        outline-offset: -.5rem; } }
