/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* COLORS */
/* FONTS */
/* BORDERS */
/* BREAKPOINTS */
/* MAIN */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-family: "Lato", serif; }

.about, .offer, .prices {
  padding: 35px 20px 0;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.icon {
  width: 110px;
  margin: 2rem auto 1rem; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h1, h2, h3, h4 {
  font-family: "Montserrat", serif; }

li {
  margin-bottom: .6rem;
  padding-right: .2rem; }

/* HEADER */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: url("/img/header4.png") no-repeat 50% 14rem;
  background-size: contain; }
  .header__bgmap {
    position: absolute;
    z-index: -11;
    top: .5rem;
    left: -2.7rem;
    width: 90%; }
  .header__bgtruck {
    position: absolute;
    z-index: -11;
    width: 70%;
    bottom: 30%;
    left: 15%; }
    @media screen and (min-width: 768px) {
      .header__bgtruck {
        bottom: 20%;
        left: 20%;
        width: 60%; } }
  .header__headers {
    position: absolute;
    top: 3.5rem;
    right: 1rem; }
    .header__headers__h1 {
      color: #455848;
      font-size: 1.6rem; }
      @media screen and (min-width: 360px) {
        .header__headers__h1 {
          font-size: 1.8rem; } }
      @media screen and (min-width: 400px) {
        .header__headers__h1 {
          font-size: 2rem; } }
      @media screen and (min-width: 600px) {
        .header__headers__h1 {
          font-size: 3rem;
          letter-spacing: .1rem; } }
      @media screen and (min-width: 768px) {
        .header__headers__h1 {
          font-size: 3.5rem;
          letter-spacing: .1rem; } }
    .header__headers__h2 {
      color: #455848;
      font-size: 1.4rem;
      text-align: right;
      padding-right: 1rem; }
      @media screen and (min-width: 410px) {
        .header__headers__h2 {
          font-size: 1.8rem; } }
      @media screen and (min-width: 600px) {
        .header__headers__h2 {
          font-size: 2.5rem;
          letter-spacing: .2rem; } }
  .header__topic {
    font-size: 1.1rem; }
    @media screen and (min-width: 768px) {
      .header__topic {
        font-size: 1.8rem; } }
    @media screen and (min-height: 500px) {
      .header__topic {
        font-size: 1.4rem; } }
    .header__topic__button {
      background: #4a9328;
      color: #F4F4F9;
      font-size: 1.3rem;
      width: 200px;
      margin: 0 auto;
      padding: 0.4rem 0.6rem;
      border: none;
      border-radius: 0.2rem;
      -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.35);
      -webkit-transition: -webkit-transform 300ms;
      transition: -webkit-transform 300ms;
      -o-transition: transform 300ms;
      transition: transform 300ms;
      transition: transform 300ms, -webkit-transform 300ms;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      @media screen and (min-width: 768px) {
        .header__topic__button {
          width: 280px;
          padding: 1.2rem 0.2rem;
          font-size: 1.5rem; } }
      .header__topic__button__logo-pic {
        height: 30px;
        fill: #F4F4F9;
        padding-right: 0.6rem; }
      .header__topic__button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .header__topic__button:focus {
        outline: none; }

/* NAVIGATION */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #4a9328; }
  .nav .logo-section {
    width: 100%;
    padding: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav .logo-section .logo {
      font-family: 'Montserrat';
      color: #F4F4F9;
      font-size: 1.4rem;
      font-weight: 100;
      text-decoration: none; }
    .nav .logo-section .hb-button {
      background: #F4F4F9;
      border: none;
      padding: 0.4rem 0.6rem;
      border-radius: 0.2rem; }
  .nav .nav-ul {
    display: none;
    list-style-type: none;
    padding: 0; }
    .nav .nav-ul .nav-item {
      padding: 1.2rem; }
      .nav .nav-ul .nav-item .nav-link {
        text-decoration: none;
        font-size: 1.2rem;
        color: #F4F4F9; }

.footer {
  background: #F4F4F9;
  color: #455848; }
  .footer .contact {
    text-align: center;
    padding: 1.5rem;
    font-size: 7vw; }
    .footer .contact a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #455848; }
      .footer .contact a i {
        font-size: 2rem;
        padding: .5rem .5rem .8rem;
        color: #4a9328; }

.about {
  background: #4a9328;
  color: #F4F4F9; }
  .about article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.prices {
  background: #4a9328;
  color: #F4F4F9;
  padding-bottom: 2rem; }
  .prices .cennik-przep,
  .prices .cennik-trans {
    text-align: center; }
    .prices .cennik-przep button[type='submit'],
    .prices .cennik-trans button[type='submit'] {
      margin: 1rem;
      border: none;
      padding: 0.5rem 1.2rem;
      color: #455848;
      background: #F4F4F9;
      font-weight: 700; }

input,
select {
  padding: 0.4rem 1.2rem;
  color: #455848;
  border: none;
  font-weight: 700;
  width: 250px;
  background: #F4F4F9; }

.cena-przep,
.cena-trans {
  display: none;
  background: #F4F4F9;
  color: #455848;
  font-size: 1.85rem;
  min-width: 50px;
  padding: 0.2rem 0;
  margin: 1rem;
  text-align: center; }

.offer {
  background: #F4F4F9;
  color: #455848; }
