/* *** ABOUT SECTION *** */

.about {
    background: color(main);
    color: color(light);
    &__textbox {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 3px solid color(light);
        outline-offset: -.5rem;
        padding: 6rem 2rem 2rem 3rem;
       
        
        &__introduction-header {
            font-size: 2rem;
           
            @media screen and (min-width: 768px) {
               
            }
        }
        &__icon {
            position: absolute;
            top: -1.4rem;
            background: color(main);
            @media screen and (min-width: 1024px) {
                font-size: 2.5rem;
                top: -2.2rem;
                left: 4rem;
            }
        }

        @media screen and (min-width: 768px) {
            padding: 6rem 3rem 2rem;
        }
        @media screen and (min-width: 1024px) {
            padding: 6rem 4rem;
            p {
                font-size: 1.5rem;
                width: 80%;
                margin-bottom: 2rem;
            }
        }
    }
    &__articles {
        display: flex;
        flex-direction: column;
        article {
            display: flex;
            flex-direction: column;
            text-align: left;
            
        }
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            article {
                width: 45%;
            }
        }
    }
}