/* HEADER */

.header {
    background: url(../../img/map.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -100px -30px;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    &__hero {
        position: relative;
        padding-top: 60px;
        &__header {
            position: absolute;
            right: .7rem;
            &__h1 {
                color: color(dark);
                font-size: 1.5rem;
            }
            &__h2 {
                color: color(dark);
                font-size: 1.7rem;
                font-weight: 300;
            }
            &__logo {
                position: relative;
                right: -1rem;
                width: 120px;
            }
        }
        &__button {
            position: relative;
            bottom: -27rem;
            background: color(dark);
            color: color(light);
            font-size: 1.5rem;
            padding: $main-padding;
            border: none;
            border-radius: $main-radius;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .35);
            transition: transform 300ms;
            cursor: pointer;
            &__logo-pic {
                height: 30px;
                fill: color(light);
                padding-right: 0.6rem;
            }
            &:hover {
                transform: scale(1.1);
            }
            &:focus {
                outline: none;
            }
        }
        &__motto {
            font-size: 1.1rem;
        }
    }
    &__number {
        position: absolute;
        top: 70%;
        left: 5.5rem;
        transform: rotate(30deg);
        color: white;
    }
}