/* MAIN */

*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

b html,
body {
    font-family: $main-font;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: $header-font;
    text-align: center;
}

section {

    padding: 55px 25px 10px;
    font-size: 1.35rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    .icon {
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (min-width: 768px) {
            width: 120px;
        }
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    li {}
}