/* NAVIGATION */

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $main-color;


    .logo-section {
        width: 100%;
        padding: .6rem;
        display: flex;
        justify-content: space-between;

        .logo {
            font-family: $main-font;
            color: $light-font-color;
            font-size: 2rem;
            text-decoration: none;
        }

        .hb-button {
            background: white;
            border: none;
            padding: $main-padding;
            border-radius: $main-radius;
        }
    }


    .nav-ul {
        display: none;
        list-style-type: none;
        padding: 0;
    
        .nav-item {
            padding: 1.2rem;
    
            .nav-link {
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}


