/* *** OFFER SECTION *** */

.offer {
    background: color(light);
    color: color(dark);
    
    &__textbox {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        
        &__icon {
            
            
            
            background: color(light);
        }
        &__header {
            font-size: 2.3rem;
  
        }
        &__articles {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            article {
                text-align: left;
                p {
                    margin: 2rem 0;
                }
                ul {
                    width: 80%;
                    margin: 0 auto;

                    li {
                        margin-bottom: .3rem;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                
              
            }
            @media screen and (min-width: 1024px) {
               
                flex-direction: row;
                justify-content: space-between;
                article {
                    width: 45%;
            
                }
            }
        }
        @media screen and (min-width: 1024px) {
          
            position: relative;
            text-align: center;
            outline: 3px solid color(dark);
            outline-offset: -.5rem;
            padding: 6rem 4rem;
       
        }
    }
}