/* *** PRICES SECTION *** */

.prices {
    background: color(main);
    color: color(light);
    text-align: center;
    &__textbox {
        position: relative;
        padding-top: 5rem;
        &__icon {
            position: absolute;
            top: -2rem;
            background: color(main);
        }
        &__header {
            font-size: 2.3rem;
        }
        &__forms {
            

            &__trans {
                margin: 2rem 0;
                h2 {
                    margin-bottom: 1rem;
                }
                @media screen and (min-width: 1024px) {
                    width: 45%;
                }
            }
            &__przep {
                margin: 2rem 0;
                h2 {
                    margin-bottom: 1rem;
                }
                @media screen and (min-width: 1024px) {
                    width: 50%;
                }
            }
            .cennik-przep,
            .cennik-trans {
                display: flex;
                flex-direction: column;
                align-items: center;
                outline: 2px solid color(light);
                outline-offset: -.5rem;
                margin: 2rem 0 0;
                padding: 2rem 1rem;
    
           
                button[type='submit'] {
                    border: none;
                    padding: 0.5rem 1.2rem;
                    color: color(dark);
                    background: color(light);
                    font-weight: 700;
                }
                label {
                    
                    display: block;
                }
                input,
                select {
                    margin: 2rem 0;
                    color: color(dark);
                    border: none;
                    font-weight: 700;
                    width: 250px;
                    background: color(light);
                    padding: .5rem;
                }
                .cena-przep,
                .cena-trans {
                    display: none;
                    background: color(light);
                    color: color(dark);
                    font-size: 1.85rem;
                    width: 200px;
                    text-align: center;
                    margin-top: 1rem;
                    padding: .5rem 1rem;
                }
                @media screen and (min-width: 1024px) {
                    margin-top: 3.5rem;
                }
            }
            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: center;
                p {
                    height: 70px;
                }
               
            }
        }
        @media screen and (min-width: 1024px) {
            outline: 3px solid color(light);
            outline-offset: -.5rem;
         
        }
    }
}