/* *** PRICES SECTION *** */

.prices {
    background: color(main);
    color: color(light);
    padding-bottom: 2rem;
    .cennik-przep,
    .cennik-trans {
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 2px solid color(light);
        outline-offset: -.5rem;
        padding: 1.3rem;
        button[type='submit'] {
            margin: 1rem;
            border: none;
            padding: 0.5rem 1.2rem;
            color: color(dark);
            background: color(light);
            font-weight: 700;
        }
        label {
            padding: 1rem .5rem .8rem;
            display: block;
        }
    }
}

input,
select {
    padding: 0.4rem 1.2rem;
    color: color(dark);
    border: none;
    font-weight: 700;
    width: 250px;
    background: color(light);
}

.cena-przep,
.cena-trans {
    display: none;
    background: color(light);
    color: color(dark);
    font-size: 1.85rem;
    width: 200px;
    padding: 0.5rem 0;
    margin: 1rem;
    text-align: center;
}
