/* VARIABLES */

/* COLORS */

$main-color: #4a9328;
$light-font-color: #F4F4F9;
$dark-font-color: #373F51;

/* FONTS */

$header-font: 'Playfair Display SC', serif;
$main-font: 'Playfair Display', serif;

/* BORDERS */

$main-radius: .2rem;
$main-padding: .5rem; 