/* COLORS */

$color: (
    main: #4a9328,
    light: #F4F4F9,
    dark: #455848
);

/* FONTS */

$header-font: 'Montserrat', serif;
$main-font: 'Lato', serif;

/* BORDERS */

$main-radius: .2rem;
$main-padding: .4rem .6rem; 
$large-padding: 1.2rem .2rem; 

/* BREAKPOINTS */

$break-1: 600px;
$break-2: 768px;
$break-3: 900px;
$break-4: 1201px;
$break-5: 1801px;